table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre 
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; color:#DCDCCC; }
td.lineNumbers { background-color: #262626; border-right: 1px solid #AAAAAA; text-align: right; color: #9FAFAF; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
pre.sourceCode { background-color: #3F3F3F; color:#DCDCCC; }
code.sourceCode span.kw { color: #F0DFAF; font-weight: bold; } 
code.sourceCode span.dt { color: #DFDFBF; }
code.sourceCode span.dv { color: #8CD0D3; }
code.sourceCode span.bn { color: #40a070; }
code.sourceCode span.fl { color: #40a070; }
code.sourceCode span.ch { color: #4070a0; }
code.sourceCode span.st { color: #CC9393; }
code.sourceCode span.co { color: #7F9F7F; font-style: italic; }
code.sourceCode span.ot { color: #DCDCCC; }
code.sourceCode span.al { color: red; font-weight: bold; }
code.sourceCode span.fu { color: #EFEF8F; }
code.sourceCode span.re { }
code.sourceCode span.er { color: red; font-weight: bold; }

