#rss a
{
    position: relative;
    top: -14px;
    left: 5px;
}
#col3
{
    font-size: 11px;
}
.lifestream
{
    padding-left: 5px;
}
.lifestream li
{
    background-repeat: no-repeat;
    background-position: left;
    padding: 5px 3px 5px 25px;
}
ul li
{
    list-style-type:none;
}
#navigation a:visited, #navigation a:link
{
    text-decoration:none;
}
ul#paginate, li#paginate
{
    list-style-type:none;
    display:inline;
}
