<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" type="text/css" href="/css/lifestream.css" /> -->
        <script type="application/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="/css/sh_style.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
        <script type="application/javascript" src="/static/js/ga.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/highlighting.css" />
        <title>blog :: Masser -> IO ($title$)</title>
    </head>
    <body>
        <!-- Open wrapper -->
        <div id="wrapper">
            <!-- Open header -->
            <div id="header">
                <!-- Open logo -->
                <div id="logo">
                    <a href="/"><h1>blog :: Masser -> IO ($title$)</h1></a>
                </div>
                <!-- Close logo -->
                <!-- Open navigation -->
                <div id="navigation">
                    <ul>
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/posts.html">All posts</a></li>
                        <li><a href="/about.html">About</a></li>
                    </ul>
                </div>
                <!-- Close navigation -->
            </div>
            <!-- Open body -->
            <div id="content">
                $body$
            </div>
            <!-- Close body -->
        </div>
        <!-- Close wrapper -->
    </body>
</html>

